.display-inline-block{
	display: inline-block;
}
.cursor-pointer{
	cursor: pointer !important;
}
.padding-0{
	padding: 0px !important;
}
.padding-left-0{
	padding-left: 0px !important;
}
.margin-bottom-0{
	margin-bottom: 0px !important;
}
.margin-top-0{
	margin-top: 0px !important;
}
.text-justify{
	text-align: justify;
}
#sidenav-overlay{
	display: none !important;
	opacity: 0 !important;
}
.navbar-logo{
	width: 300px;
}
.z-depth-3{
	-webkit-box-shadow: 0 2px 40px 4px rgba(208,208,208,.5) !important;
	box-shadow: 0 2px 40px 4px rgba(208,208,208,.5) !important;
}
body{
	font-family: 'Montserrat', sans-serif !important;
}
nav{
	background-color: rgba(0,0,0,0);
	box-shadow: none;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
nav.scrolled{
	background-color: #222;

}
.home{
	background-image: url('../img/front_bg2.jpg');
	background-size: cover;
	min-height: 100vh;
}
.navlink{
	height: 60px;
}
.navlink.active{
	border-bottom: 1px solid #fff;
}
.home .home-tag-div{
	margin-top: 10rem;
	margin-left: 5rem;
}
.home-tag-div .wearecool{
	margin-bottom: 0pc;
}
.home-tag-div .onestop{
	margin-top: 0pc;
	padding-left: 10px;
	font-size: 1.3rem !important;
	font-weight: 550;
}

.mainheading{
	padding: 0px 19px;
	padding-bottom: 8px;
	border-bottom: 0.1rem solid #000;
}
.mainheading-white{
	border-bottom: 0.1rem solid #eee;
}
.cooltech_fridge{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.services-card{
	padding: 5px 60px;
	text-align: center;
	margin-bottom: 30px;
}
.services-card-img{
	width: 75% !important;
	height: 130px !important;
}
.services-card-img.multibrand{
	width: 100% !important;
}
.services-div-wrap{
	padding:0px 30px !important;
}

.services-img-row .col{
	padding: 2px;
}

.side-by-side{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.testimonials-heading-div{
	margin-left: 2rem;
}
.testimonial-box{
	margin-top: 4rem;
	padding: 4rem 3rem 1rem 1rem;
	width: 80%;
	margin-left: 2rem;
	/*background-color: rgb(192,192,192);*/
}
.funfacts-col{
	padding: 0.5rem 2rem !important;
	padding-bottom: 3rem !important;
	/*background-color: rgb(192,192,192);*/
}
.facts-text-div{
	background-color: #fff;
	padding: 10px !important;
	display: inline-block;
}
.facts-text-div:nth-child(odd){
	padding-right: 0px;
}
.facts-text-div:nth-child(even){
	padding-left: 0px;
}
.facts-icon-div{
	display: inline-block;
}
.facts-icon-div img{
	width: 100px;
}
.facts-heading-text{
	font-size: 1.2rem;
}
.facts-text-col{
	/*margin: 0px;	*/
}
.facts-icon-div img{
	vertical-align: middle;
}
.facts-number{
	font-weight: 900;
	margin: 0px;
}
.brands-logos-div{
	padding-left: 30px;
	padding-right: 30px;
}

.contact-div-wrap{
	padding: 0 30px;
}
.lightbox-a .overlay{
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.5s ease;
	position: absolute;
}

.lightbox-a{
	cursor: zoom-in;
	position: relative;
	display: inline-block;
}
.lightbox-a:hover .overlay{
	opacity: 1;
}
.about{
	background-color: #2b2192;/*dark blue*/
	padding: 20px 10px;
}
.about-cooltech-text{
	font-size: 1.3rem;
}
.brand-logo-col .card{
	padding: 10px !important;
	height: 140px;
}
.map-div{
	padding: 20px;
}
.map-iframe{
	width: 100%;
	height: 300px;
}
.footer{
	background-color: #313131;
	padding: 20px 20px;
}

@media(min-width: 769px){
	.home{
		/*background-position: 0 -120px;*/
	}
	.side-half-img{
		height: 110px !important;
		width: 100% !important;
	}
	.address-text{
		margin-top: 1.5rem;
	}
	.whatsonshelf-content-div{
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media(max-width: 769px){
	.services-card img{
		width: 90%;
		height: auto !important;
	}
	.services-card{
		padding: 5px 10px;
		margin-bottom: 15px;
	}
	.home .home-tag-div{
		margin-top: 7rem;
		margin-left: 1rem;
	}
	.navbar-logo{
		margin-left: 5rem;
	}
	.funfacts-col{
		margin-top: 2rem;
	}
	.text-justify-in-mobile{
		text-align: justify !important;
	}
	.testimonial-box{
		margin-left: auto;
		margin-right: auto;
	}
	.mainheading{
		border-bottom: none;
	}
}